<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>ArisVision</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">



</head>
<body>

    




        <div class="container ">

            <div class="row ">

            

                <div class="col-sm-9 col-md-9 ">


                    <img src="~/img/aris.jpg" width="100" />

                    

                        <button type="button" class="btn btn-outline-primary btn-lg">@Html.ActionLink("Inicio", "Index", "Home")</button>
                        <button type="button" class="btn btn-outline-primary btn-lg">@Html.ActionLink("Pediatria", "About", "Home")</button>
                        <button type="button" class="btn btn-outline-primary btn-lg">@Html.ActionLink("Geriatria", "Contact", "Home")</button>
                        <button type="button" class="btn btn-outline-primary btn-lg">@Html.ActionLink("Contacto", "Registro", "Home")</button>
                        <button type="button" class="btn btn-outline-primary btn-lg">@Html.ActionLink("Registro de Pacientes", "Index", "Pacientes")</button>

                      



                    </div>




                    <div class="col-sm-3 col-md-3 alert alert-primary" role="alert">
                        <div class="short_contact_list">
                            <ul  > 
                                <li style=" width:10px; list-style-image:url(/img/em.png )  " > <a> lic.dianahdzm@gmail.com    </a></li>
                                <li style=" width:10px; list-style-image:url(/img/em.png)" ><a>  lic.miriamhdz@hotmail.com    </a></li>
                                <li style=" list-style-image:url(/img/fo.png)"><a>  movil: 55-11-24-96-33</a></li>
                                <li style=" list-style-image:url(/img/fo.png)"><a>   movil: 55-25-08-71-36</a></li>
                            </ul>

                        </div>
                    </div>



                </div>
        </div>


        <div class="container-fluid ">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
