<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>ArisVision</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">



</head>
<body>


  



    <div class="container-fluid ">

        <div class="row ">



            <div class="col-sm-9 col-md-9 ">
                <img src="~/img/aris.jpg" width="100" />


                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" >@Html.ActionLink("Inicio", "Index", "Home", new { @style = "color:white; font-size:30px; font-weight: 700;  " })   </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="navbar-brand">@Html.ActionLink("Pediatria", "About", "Home", new { @style = "color:white; font-size:30px; font-weight: 700;  " }) </a>
                            <a class="nav-item nav-link">@Html.ActionLink("Geriatria", "Contact", "Home", new { @style = "color:white; font-size:30px; font-weight: 700;  " })</a>
                            <a class="nav-item nav-link">@Html.ActionLink("Contacto", "Registro", "Home", new { @style = "color:white; font-size:30px; font-weight: 700;  " })</a>
                            <a class="nav-item nav-link disabled">@Html.ActionLink("Pacientes", "Index", "Pacientes", new { @style = "color:white; font-size:30px; font-weight: 700;  " })</a>
                        </div>
                    </div>
                </nav>



            </div>




            <div class="col-sm-3 col-md-3  alert alert-primary" role="alert">
                <div class="short_contact_list">
                    <ul>
                        <li style="  list-style-image:url(/img/em.png )  "> <a> lic.dianahdzm@gmail.com    </a></li>
                        <li style="  list-style-image:url(/img/em.png)"><a>  lic.miriamhdz@hotmail.com    </a></li>
                        <li style=" list-style-image:url(/img/fo.png)"><a>  movil: 55-11-24-96-33</a></li>
                        <li style=" list-style-image:url(/img/fo.png)"><a>   movil: 55-25-08-71-36</a></li>
                    </ul>

                </div>
            </div>



        </div>
    </div>


    <div class="container-fluid ">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
