@model Optica01.Models.Pacientes

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Registros</h2>

<h3>¿Quieres eliminar el regirtro?</h3>
<div>
    <h4>Paciente</h4>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-sm" ">
                <h4>Nombre</h4>
            </div>
            <div class="col-sm">
                <h4>Telefono</h4>
            </div>
            <div class="col-sm">
                <h4>Sexo</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm" style="margin-bottom:30px "  >
                @Html.DisplayFor(model => model.nombre)
            </div>
            <div class="col-sm" style="margin-bottom:30px ">
                @Html.DisplayFor(model => model.telefono)
            </div>
            <div class="col-sm"style="margin-bottom:30px ">
                @Html.DisplayFor(model => model.sexo)
            </div>
        </div>


        <div class="row">
            <div class="col-sm">
                <h4>Edad</h4>
            </div>
            <div class="col-sm">
                <h4>Graduacion</h4>
            </div>
            <div class="col-sm">
                <h4>Sucursal</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm" style="margin-bottom:30px ">
                @Html.DisplayFor(model => model.edad)
            </div>
            <div class="col-sm" style="margin-bottom:30px ">
                @Html.DisplayFor(model => model.graduacion)
            </div>
            <div class="col-sm">
                @Html.DisplayFor(model => model.sucursal)
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <h4>Dirección</h4>
            </div>
            <div class="col-sm">
                <h4>Observaciones</h4>
            </div>
            <div class="col-sm">
                <h4>Fecha</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm" style="margin-bottom:30px ">
                @Html.DisplayFor(model => model.direccion)
            </div>
            <div class="col-sm" style="margin-bottom:30px ">
                @Html.DisplayFor(model => model.observaciones)
            </div>
            <div class="col-sm" style="margin-bottom:30px ">
                @Html.DisplayFor(model => model.fecha)
            </div>
        </div>

    </div>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
